@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: none; border: none;
    transition: all .2s linear;
}

:root{
    --main-color: #FF5400;
    --bg-color: #fff;
    --text-color: #131318;
    --paragraph-color: #5A5A5D;
    
    --Button-paragraph-color: #13131880;
    --nav-color: #424247;

    --first-card-color: rgba(251, 181, 99, 0.05);
    --second-card-color: rgba(41, 206, 246, 0.05);

    --footer-color: #1313180D;
}


/* ================== shared styles ================== */

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h2{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--text-color);
}

h3{
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--text-color);
}

p{
    font-size: 1rem;
    font-weight: 400;
    color: var(--paragraph-color);
}

.btn-primary{
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--bg-color);
    padding: 1rem 2rem;
    border-radius: .5rem;
    background: var(--main-color);
    border: .1px solid transparent;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.btn-primary i{
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

.btn-primary:hover{
    border: 1px solid var(--main-color);
    background: transparent;
    color: var(--main-color);
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}


/* ================== header styles ================== */

.header{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    z-index: 1000;
}

.header .container .logo{
    display: flex;
    align-items: center;
    font-size: 2.25rem;
    font-weight: 800;
    color: var(--text-color);
}

.header .container .logo span{
    color: var(--main-color);
}

.header .container .logo img{
    padding-right: 1rem;
}

.header .container ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.header .container .navbar{
    gap: 2.75rem;
}

.header .container .navbar a{
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--nav-color);
}

.header .container .navbar a.active,
.header .container .navbar a:hover{
    color: var(--main-color);
}

#menu-bar{
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}



/* ================== home styles ================== */

.home{
    margin-top: 8rem;
}

.home .container{
    height: 500px;
    width: 100%;
    border-radius: 1rem;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('assets/home.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home .container .content h1{
    font-size: 4rem;
    font-weight: 800;
    color: var(--bg-color);
}

.home .container .content p{
    max-width: 42.25rem;
    margin-top: 1.5rem;
    color: var(--bg-color);
}

.home .container .content .home-btns{
    padding: 1rem;
    border-radius: .5rem;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.home .container .content .home-btns #where-go .btn{
    font-size: 1rem;
    font-weight: 400;
    background: var(--bg-color);
    color: var(--text-color);
}

.home .container .content .home-btns #when .btn{
    font-size: 1rem;
    font-weight: 400;
    background: var(--bg-color);
    color: var(--text-color);
}
.home .container .content .home-btns #select-type .btn{
    font-size: 1rem;
    font-weight: 400;
    background: var(--bg-color);
    color: var(--text-color);
}

.home .container .content .home-btns #find-now .btn{
    font-size: 1rem;
    font-weight: 400;
    background: var(--bg-color);
    color: var(--text-color);
}


.home .container .content .home-btns .home-btn{
    width: 10.875rem;
    height: 3.25rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem;
    border: 1px solid transparent;
    background: var(--bg-color);
    color: var(--paragraph-color);
    cursor: pointer;
}

.home .container .content .home-btns .home-btn:hover{
    background: transparent;
    border: 1px solid var(--bg-color);
    color: var(--bg-color);
}

.home .container .content .home-btns .home-btn i{
    font-size: 1.5rem;
}

.home .container .content .home-btns  #find-now .home-btn{
    background: var(--main-color);
    color: var(--bg-color);
    justify-content: center;
    gap: .5rem;
}

.home .container .content .home-btns  #find-now .home-btn:hover{
    background: transparent;
    border: 1px solid var(--bg-color);
    color: var(--bg-color);
}



/* ================== popular styles ================== */

.popular{
    margin: 6.25rem 0;
}

.popular .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .container .content p{
    margin-top: 1.4rem;
    max-width: 33rem;
}

.popular .container .content li{
    margin-top: 1.5rem;
    max-width: 30rem;
    position: relative;
    left: 3%;
    color: var(--paragraph-color);
}

.popular .container .content .btn-primary{
    margin-top: 2rem;
}

.popular .container .pop-img img{
    width: 100%;
    height: auto;
}



/* ================== destinations styles ================== */

.destination{
    text-align: center;
}

.destination p{
    margin-top: 1.5rem;
}

.destination .container{
    margin-top: 3rem;
}

.destination .container .top{
    display: flex;
    gap: 1.5rem;
}

.destination .container .top .div1{
    width: 35.8125rem;
    height: 18.75rem;
    border-radius: 1rem;
    background-image: url('assets/maldive.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    font-weight: 800;
    color: var(--bg-color);
}

.destination .container .top .div2{
    width: 35.8125rem;
    height: 18.75rem;
    border-radius: 1rem;
    background-image: url('assets/indonesia.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    font-weight: 800;
    color: var(--bg-color);
}

.destination .container .middle{
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.destination .container .middle .div1{
    width: 23.375rem;
    height: 17.875rem;
    border-radius: 1rem;
    background-image: url('assets/srilanka.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    font-weight: 800;
    color: var(--bg-color);
}

.destination .container .middle .div2{
    width: 29.625rem;
    height: 17.875rem;
    border-radius: 1rem;
    background-image: url('assets/north-america.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    font-weight: 800;
    color: var(--bg-color);
}

.destination .container .middle .div3{
    width: 17.125rem;
    height: 17.875rem;
    border-radius: 1rem;
    background-image: url('assets/kashmir.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    font-weight: 800;
    color: var(--bg-color);
}

.destination .container .bottom{
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.destination .container .bottom .div1{
    width: 29.5625rem;
    height: 18.75rem;
    border-radius: 1rem;
    background-image: url('assets/bangladesh.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    font-weight: 800;
    color: var(--bg-color);
}

.destination .container .bottom .div2{
    width: 42.0625rem;
    height: 18.75rem;
    border-radius: 1rem;
    background-image: url('assets/bandorban.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    font-weight: 800;
    color: var(--bg-color);
}




/* ================== why styles ================== */

.why{
    margin-top: 6.25rem;
}

.why .content{
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
}

.why .content h2{
    margin-bottom: 1.5rem;
}

.why .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.why .container .top{
    gap: 1.5rem;
    margin-top: 3rem;
    display: flex;
}

.why .container .top .card{
    width: 35.8125rem;
    height: 17.75rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: var(--first-card-color);
    padding: 2rem;
    border-radius: 1rem;
}

.why .container .top .card h3{
    margin: 1.5rem 0;
}

.why .container .top .card:nth-child(2){
    background: var(--second-card-color);
}

.why .container .bottom .card{
    margin-top: 1.5rem;
    width: 35.8125rem;
    height: 17.75rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: var(--first-card-color);
    padding: 2rem;
    border-radius: 1rem;
}

.why .container .bottom .card h3{
    margin: 1.5rem 0;
}



/* ================== deals & discount styles ================== */

.deals{
    margin-top: 6.25rem;
}

.deals .heading-text{
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
}

.deals .heading-text h2{
    margin-bottom: 1.5rem;
}

.deals .container{
    margin-top: 3rem;
    width: 100%;
    height: 31.25rem;
    background-image: url('assets/d&d1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 3.5rem;
}

.deals .container .content{
    width: 36.1875rem;
    height: 24.3125rem;
    border-radius: 1rem;
    border: 2px solid var(--bg-color);
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 3.12rem;
}

.deals .container .content .top-icons a{
    font-size: 1rem;
    font-weight: 400;
    color: var(--paragraph-color);
    margin-right: 1rem;
}

.deals .container .content .top-icons a i{
    color: var(--main-color);
    margin-right: .5rem;
}

.deals .container .content h3{
    margin: 1.5rem 0;
}

.deals .container .content p{
    margin-bottom: 1.5rem;
}

.deals .container .content span{
    display: block;
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--main-color);
    margin-bottom: 1.5rem;
}




/* ================== deals & discount 2 styles ================== */


.deals2 .container{
    margin-top: 1.5rem;
    width: 100%;
    height: 31.25rem;
    background-image: url('assets/d&d2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 3.5rem;
}

.deals2 .container .content{
    width: 36.1875rem;
    height: 24.3125rem;
    border-radius: 1rem;
    border: 2px solid var(--bg-color);
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 3.12rem;
}

.deals2 .container .content .top-icons a{
    font-size: 1rem;
    font-weight: 400;
    color: var(--paragraph-color);
    margin-right: 1rem;
}

.deals2 .container .content .top-icons a i{
    color: var(--main-color);
    margin-right: .5rem;
}

.deals2 .container .content h3{
    margin: 1.5rem 0;
}

.deals2 .container .content p{
    margin-bottom: 1.5rem;
}

.deals2 .container .content span{
    display: block;
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--main-color);
    margin-bottom: 1.5rem;
}




/* ================== deals & discount 3 styles ================== */


.deals3 .container{
    margin-top: 1.5rem;
    width: 100%;
    height: 31.25rem;
    background-image: url('assets/d&d1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 3.5rem;
}

.deals3 .container .content{
    width: 36.1875rem;
    height: 24.3125rem;
    border-radius: 1rem;
    border: 2px solid var(--bg-color);
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 3.12rem;
}

.deals3 .container .content .top-icons a{
    font-size: 1rem;
    font-weight: 400;
    color: var(--paragraph-color);
    margin-right: 1rem;
}

.deals3 .container .content .top-icons a i{
    color: var(--main-color);
    margin-right: .5rem;
}

.deals3 .container .content h3{
    margin: 1.5rem 0;
}

.deals3 .container .content p{
    margin-bottom: 1.5rem;
}

.deals3 .container .content span{
    display: block;
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--main-color);
    margin-bottom: 1.5rem;
}

.deals3 .btn{
    margin-top: 3rem;
}

.deals3 .btn .btn-primary{
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* ================== perfect place styles ================== */

.place{
    margin: 6.25rem 0;
}

.place .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.place .container .content{
    max-width: 33rem;
}

.place .container .content p{
    margin: 1.5rem 0;
    columns: var(--paragraph-color);
}

.place .container .content li{
    margin: 1.5rem 0;
    transform: translateX(1.5rem);
    font-size: 1rem;
    font-weight: 700;
    color: var(--paragraph-color);
}

.place .container .video-img{
    width: 38.125rem;
    height: 26.5rem;
    background-image: url('assets/bangladesh.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--bg-color);
    text-align: center;
}




/* ================== newsletter styles ================== */

.newsletter .container{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: relative;
}

.newsletter .container .left-form{
    width: 29.625rem;
    height: 26.375rem;
    border-radius: 1rem;
    border: 1px solid var(--main-color);
    padding: 2.5rem;
}

.newsletter .container .left-form p{
    margin: 1rem 0;
}

.newsletter .container .left-form hr{
    height: 1px;
    width: 100%;
    background: rgba(19, 19, 24, 0.10);
}

.newsletter .container .left-form .form{
    display: block;
    margin-top: 1.5rem;
}

.newsletter .container .left-form .form input{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--paragraph-color);
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 1rem;
    border-radius: .5rem;
}

.newsletter .container .left-form .form input[type='submit']{
    background: var(--main-color);
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--bg-color);
}

.newsletter .container .left-form .form input[type='submit']:hover{
    background: transparent;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.newsletter .container .right-img .img{
    width: 42rem;
    height: 26.375rem;
    background-image: url('assets/bangladesh.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.newsletter .container .right-img .card{
    background: var(--main-color);
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    position: absolute;
    bottom: 12%; right: 1%;
    transform: rotate(-18deg);
}

.newsletter .container .right-img .card span{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--bg-color);
}

.newsletter .container .right-img .card h3{
    font-size: 2rem;
    font-weight: 800;
    color: var(--bg-color);
    margin-top: .5rem;
}




/* ================== footer styles ================== */

.footer{
    margin-top: 6.25rem;
    height: 500px;
    width: 100%;
    background: var(--footer-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer .content .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.footer .content .logo .img{
    margin-right: 1rem;
}

.footer .content .logo h3{
    font-size: 2rem;
    font-weight: 800;
    color: var(--text-color);
}

.footer .content .logo h3 span{
    font-size: 2rem;
    font-weight: 800;
    color: var(--main-color);
}

.footer .content .social-icons{
    margin: 2rem;
}

.footer .content .social-icons i{
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 50%;
    color: var(--text-color);
    cursor: pointer;
}

.footer .content .social-icons i:hover{
    background: var(--main-color);
    color: var(--bg-color);
}

.footer .content hr{
    width: 100%;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

.footer .content span{
    margin-top: 3rem;
    font-size: 1rem;
    font-weight: 300;
    color: var(--paragraph-color);
}